.header {
    font-size: $m-size;
    color: white;
    background-color: $off-black;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}

// BEM naming convention 
.header__title {
    font-size: $l-size;
    color: white;
    margin: 0;
}
.header__subtitle {
    font-size: $m-size;
    color: $off-white-blue;
    font-weight: 500;
    margin: 0;
}