// widget header
.widget {
    background-color: $light-blue;
    margin-bottom: $xl-size;
}

.widget-body-message {
    color: $off-white-blue;
    // mostly works, but not a perfect center
    // width: 50%;
    // margin: $m-size auto $m-size auto;

    display: flex;
    justify-content: space-around;
    padding: $l-size;
}

.widget-header {
    background-color: $blue;
    color: $off-white-blue;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}

.widget-option {
    display: flex;
    justify-content: space-between;
    padding-bottom: $s-size/2;
}

.widget-options {
    padding: $s-size;
}