// widget header
.widget {
    background-color: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    // mostly works, but not a perfect center
    // width: 50%;
    // margin: $m-size auto $m-size auto;
    
    // looks nice with narrow screen, trying another method below
    // display: flex;
    // justify-content: space-around;
    // padding: $l-size;
    
    color: $off-white;
    border-bottom: 1px solid lighten($light-blue, 10%);
    margin: 0;
    padding: $l-size;
    text-align: center;
}

.widget-header {
    background-color: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}
